<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
  <header  style="margin-top: 10px" class="bg-white" style="width:100%;">
    <h1><%= header%></h1>
  </header>

  <main style="margin: 10px 0 10px 0 ;border: solid 1px #DFDFDF; background-color: #F8FAFC;">
    <div class="bg-white" style="padding: 10px">
      <%- content%>
    </div>
  </main>

  <footer>
    <button  style="border: solid 1px #DFDFDF" ;type="button" onclick="location.href='/redirect'">開始</button>
  </footer>
</body>

</html>