<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="refresh" content="0;URL=./start">
  <title>
    取得中
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
  <header style="margin-top: 10px" class="bg-white" style="width:100%;">
    取得中
  </header>

  <main style="margin: 10px 0 10px 0 ;border: solid 1px #DFDFDF; ">
  少々お待ちください
  </main>
</body>

</html>