<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
  <header class="bg-white" style="width:100%;">
    a
  </header>

  <main style="margin:10px; border: solid 1px #DFDFDF; background-color: #F8FAFC;">
  a
  </main>

  <footer>
    a
  </footer>
</body>

</html>