<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
  <header style="margin-top: 10px" class="bg-white" style="width:100%;">
    <%- content_top%>
  </header>

  <main style="margin: 10px 0 10px 0 ;border: solid 1px #DFDFDF; ">
  <%- content_middle%>
  </main>
  <br>
  <footer>
    <%- content_bottom%>
  </footer>
</body>

</html>